// Importación de la fuente del resto de los elementos.
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
// Importación de la fuente de los titulos.


// Asignación a todos los elementos la fuente correspondiente.
body{
    font-family: 'jost', sans-serif;
}

// Asignación a las etiquetas de titulo la fuente correspondiente.
h1, h2, h3, h4, h5, h6{
    font-family: 'jost', sans-serif;
}

h1, h2, h3{
    color: rgb(170, 170, 170);
}
h4, h5, h6{
    color: white;
}